[submodule "desktop"]
        path = desktop
        url = git@atomgit.com:openairymax/desktop.git
        branch = feature/official-hubs-01
[submodule "docker"]
        path = docker
        url = git@atomgit.com:openairymax/docker.git
        branch = feature/official-hubs-01
[submodule "memoryrovol"]
        path = memoryrovol
        url = git@atomgit.com:spharx/memoryrovol.git
        branch = feature/official-hubs-01
