[submodule "desktop"]
        path = desktop
        url = ../desktop.git
        branch = develop/hubs-01
[submodule "docker"]
        path = docker
        url = ../docker.git
        branch = develop/hubs-01
[submodule "memoryrovol"]
        path = memoryrovol
        url = git@atomgit.com:openairymax/memoryrovol.git
        branch = develop/hubs-01
